In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [5]:
# Convert categorical data to numeric and separate target feature for training data
X_train = train_df.drop("loan_status", axis=1)
y_train = train_df['loan_status'].values
X_test = test_df.drop("loan_status", axis=1)
y_test = test_df['loan_status'].values

In [7]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12180 entries, 0 to 12179
Data columns (total 85 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  12180 non-null  int64
 1   index                       12180 non-null  int64
 2   loan_amnt                   12180 non-null  float64
 3   int_rate                    12180 non-null  float64
 4   installment                 12180 non-null  float64
 5   home_ownership              12180 non-null  object
 6   annual_inc                  12180 non-null  float64
 7   verification_status         12180 non-null  object
 8   pymnt_plan                  12180 non-null  object
 9   dti                         12180 non-null  float64
 10  delinq_2yrs                 12180 non-null  float64
 11  inq_last_6mths              12180 non-null  float64
 12  open_acc                    12180 non-null  float64
 13  pub_rec                     12180 non-null  float64
 14  revol_bal                   12180 non-null  float64
 15  total_acc                   12180 non-null  float64
 16  initial_list_status         12180 non-null  object
 17  out_prncp                   12180 non-null  float64
 18  out_prncp_inv               12180 non-null  float64
 19  total_pymnt                 12180 non-null  float64
 20  total_pymnt_inv             12180 non-null  float64
 21  total_rec_prncp             12180 non-null  float64
 22  total_rec_int               12180 non-null  float64
 23  total_rec_late_fee          12180 non-null  float64
 24  recoveries                  12180 non-null  float64
 25  collection_recovery_fee     12180 non-null  float64
 26  last_pymnt_amnt             12180 non-null  float64
 27  collections_12_mths_ex_med  12180 non-null  float64
 28  policy_code                 12180 non-null  float64
 29  application_type            12180 non-null  object
 30  acc_now_delinq              12180 non-null  float64
 31  tot_coll_amt                12180 non-null  float64
 32  tot_cur_bal                 12180 non-null  float64
 33  open_acc_6m                 12180 non-null  float64
 34  open_act_il                 12180 non-null  float64
 35  open_il_12m                 12180 non-null  float64
 36  open_il_24m                 12180 non-null  float64
 37  mths_since_rcnt_il          12180 non-null  float64
 38  total_bal_il                12180 non-null  float64
 39  il_util                     12180 non-null  float64
 40  open_rv_12m                 12180 non-null  float64
 41  open_rv_24m                 12180 non-null  float64
 42  max_bal_bc                  12180 non-null  float64
 43  all_util                    12180 non-null  float64
 44  total_rev_hi_lim            12180 non-null  float64
 45  inq_fi                      12180 non-null  float64
 46  total_cu_tl                 12180 non-null  float64
 47  inq_last_12m                12180 non-null  float64
 48  acc_open_past_24mths        12180 non-null  float64
 49  avg_cur_bal                 12180 non-null  float64
 50  bc_open_to_buy              12180 non-null  float64
 51  bc_util                     12180 non-null  float64
 52  chargeoff_within_12_mths    12180 non-null  float64
 53  delinq_amnt                 12180 non-null  float64
 54  mo_sin_old_il_acct          12180 non-null  float64
 55  mo_sin_old_rev_tl_op        12180 non-null  float64
 56  mo_sin_rcnt_rev_tl_op       12180 non-null  float64
 57  mo_sin_rcnt_tl              12180 non-null  float64
 58  mort_acc                    12180 non-null  float64
 59  mths_since_recent_bc        12180 non-null  float64
 60  mths_since_recent_inq       12180 non-null  float64
 61  num_accts_ever_120_pd       12180 non-null  float64
 62  num_actv_bc_tl              12180 non-null  float64
 63  num_actv_rev_tl             12180 non-null  float64
 64  num_bc_sats                 12180 non-null  float64
 65  num_bc_tl                   12180 non-null  float64
 66  num_il_tl                   12180 non-null  float64
 67  num_op_rev_tl               12180 non-null  float64
 68  num_rev_accts               12180 non-null  float64
 69  num_rev_tl_bal_gt_0         12180 non-null  float64
 70  num_sats                    12180 non-null  float64
 71  num_tl_120dpd_2m            12180 non-null  float64
 72  num_tl_30dpd                12180 non-null  float64
 73  num_tl_90g_dpd_24m          12180 non-null  float64
 74  num_tl_op_past_12m          12180 non-null  float64
 75  pct_tl_nvr_dlq              12180 non-null  float64
 76  percent_bc_gt_75            12180 non-null  float64
 77  pub_rec_bankruptcies        12180 non-null  float64
 78  tax_liens                   12180 non-null  float64
 79  tot_hi_cred_lim             12180 non-null  float64
 80  total_bal_ex_mort           12180 non-null  float64
 81  total_bc_limit              12180 non-null  float64
 82  total_il_high_credit_limit  12180 non-null  float64
 83  hardship_flag               12180 non-null  object
 84  debt_settlement_flag        12180 non-null  object
dtypes: float64(76), int64(2), object(7)
memory usage: 7.9+ MB

In [6]:
# Convert categorical data to numeric and separate target feature for testing data
X_dummies = pd.get_dummies(X_train)
print(X_dummies.columns)
X_dummies

Index(['Unnamed: 0', 'index', 'loan_amnt', 'int_rate', 'installment',
       'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'open_acc',
       'pub_rec', 'revol_bal', 'total_acc', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'collections_12_mths_ex_med', 'policy_code',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'home_ownership_ANY',
       'home_ownership_MORTGAGE', 'home_ownership_OWN', 'home_ownership_RENT',
       'verification_status_Not Verified',
       'verification_status_Source Verified', 'verification_status_Verified',
       'pymnt_plan_n', 'initial_list_status_f', 'initial_list_status_w',
       'application_type_Individual', 'application_type_Joint App',
       'hardship_flag_N', 'hardship_flag_Y', 'debt_settlement_flag_N',
       'debt_settlement_flag_Y'],
      dtype='object')

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,57107,57107,13375.0,0.1797,483.34,223000.0,29.99,0.0,0.0,15.0,...,0,1,0,1,1,0,1,0,1,0
1,141451,141451,21000.0,0.1308,478.68,123000.0,11.26,2.0,0.0,16.0,...,0,1,0,1,1,0,1,0,1,0
2,321143,321143,20000.0,0.1240,448.95,197000.0,11.28,0.0,0.0,12.0,...,0,1,0,1,1,0,1,0,1,0
3,11778,11778,3000.0,0.1240,100.22,45000.0,18.08,0.0,0.0,12.0,...,0,1,0,1,1,0,1,0,1,0
4,169382,169382,30000.0,0.1612,1056.49,133000.0,27.77,0.0,2.0,13.0,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,354912,354912,19975.0,0.2565,801.09,28000.0,28.42,0.0,0.0,15.0,...,0,1,0,1,1,0,1,0,1,0
12176,354944,354944,15000.0,0.1774,540.34,50000.0,23.43,4.0,0.0,16.0,...,1,1,0,1,1,0,1,0,1,0
12177,354973,354973,3600.0,0.1862,131.28,60000.0,28.80,0.0,1.0,14.0,...,0,1,0,1,1,0,1,0,1,0
12178,355002,355002,15000.0,0.0881,475.68,62000.0,11.44,0.0,0.0,5.0,...,0,1,0,1,0,1,1,0,1,0
12179,355307,355307,15000.0,0.1774,540.34,54080.0,21.66,1.0,1.0,5.0,...,0,1,1,0,1,0,1,0,1,0

In [8]:
test_dummies = pd.get_dummies(X_test)
test_dummies

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,verification_status_Source Verified,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N
0,67991,67991,40000.0,0.0819,814.70,140000.0,19.75,0.0,1.0,18.0,...,0,0,1,0,1,1,0,1,0,1
1,25429,25429,6000.0,0.1524,208.70,55000.0,11.52,2.0,0.0,8.0,...,0,0,1,0,1,1,0,1,0,1
2,38496,38496,3600.0,0.1695,128.27,42000.0,6.74,0.0,0.0,6.0,...,0,0,1,0,1,1,0,1,0,1
3,19667,19667,20000.0,0.1524,478.33,100000.0,12.13,0.0,2.0,7.0,...,0,0,1,0,1,1,0,1,0,1
4,37505,37505,3600.0,0.1240,120.27,50000.0,16.08,0.0,3.0,6.0,...,0,0,1,0,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,77282,77282,30000.0,0.1240,673.42,140480.0,15.74,0.0,0.0,20.0,...,1,0,1,1,0,1,0,1,0,1
4698,77291,77291,24000.0,0.0756,747.22,50000.0,26.81,0.0,0.0,9.0,...,0,0,1,0,1,1,0,1,0,1
4699,77292,77292,10000.0,0.2305,387.36,33000.0,38.51,0.0,2.0,7.0,...,0,1,1,1,0,1,0,1,0,1
4700,77297,77297,8000.0,0.1862,205.86,38000.0,16.36,0.0,1.0,8.0,...,1,0,1,0,1,1,0,1,0,1
4701,77304,77304,30000.0,0.2055,1123.34,180000.0,12.06,0.0,0.0,8.0,...,1,0,1,1,0,1,0,1,0,1

In [42]:
y_test = pd.get_dummies(y_test)
y_train = pd.get_dummies(y_train)

       high_risk  low_risk
0              0         1
1              0         1
2              0         1
3              0         1
4              0         1
...          ...       ...
12175          1         0
12176          1         0
12177          1         0
12178          1         0
12179          1         0

[12180 rows x 2 columns]

In [45]:
y_train = y_train.drop('low_risk', axis=1)
y_test = y_test.drop('low_risk', axis=1)
y_test

      high_risk
0             0
1             0
2             0
3             0
4             0
...         ...
4697          1
4698          1
4699          1
4700          1
4701          1

[4702 rows x 1 columns]

In [9]:
checkpoint = X_dummies.copy()

In [11]:
# add missing dummy variables to testing set
train_cols = list(X_dummies.columns)
test_cols = list(test_dummies.columns)
cols_not_in_test = {c:0 for c in train_cols if c not in test_cols}
test = test_dummies.assign(**cols_not_in_test)
test

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,67991,67991,40000.0,0.0819,814.70,140000.0,19.75,0.0,1.0,18.0,...,0,1,0,1,1,0,1,0,1,0
1,25429,25429,6000.0,0.1524,208.70,55000.0,11.52,2.0,0.0,8.0,...,0,1,0,1,1,0,1,0,1,0
2,38496,38496,3600.0,0.1695,128.27,42000.0,6.74,0.0,0.0,6.0,...,0,1,0,1,1,0,1,0,1,0
3,19667,19667,20000.0,0.1524,478.33,100000.0,12.13,0.0,2.0,7.0,...,0,1,0,1,1,0,1,0,1,0
4,37505,37505,3600.0,0.1240,120.27,50000.0,16.08,0.0,3.0,6.0,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,77282,77282,30000.0,0.1240,673.42,140480.0,15.74,0.0,0.0,20.0,...,0,1,1,0,1,0,1,0,1,0
4698,77291,77291,24000.0,0.0756,747.22,50000.0,26.81,0.0,0.0,9.0,...,0,1,0,1,1,0,1,0,1,0
4699,77292,77292,10000.0,0.2305,387.36,33000.0,38.51,0.0,2.0,7.0,...,1,1,1,0,1,0,1,0,1,0
4700,77297,77297,8000.0,0.1862,205.86,38000.0,16.36,0.0,1.0,8.0,...,0,1,0,1,1,0,1,0,1,0
4701,77304,77304,30000.0,0.2055,1123.34,180000.0,12.06,0.0,0.0,8.0,...,0,1,1,0,1,0,1,0,1,0

In [19]:
test = test.drop(['Unnamed: 0', 'index'], axis=1)
test_dummies = test_dummies.drop(['Unnamed: 0', 'index'], axis=1)

In [25]:
X_dummies = X_dummies.drop(['Unnamed: 0', 'index'], axis=1)

In [26]:

# I'm still trying to learn how the different models work but I  think a 
#random forest classifier would be a better fit for this data due to the 
# multiple features(?) that go into making the prediction. If it were a more
# simple dataset, a logistic regression would be better.

In [46]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=750)
classifier
classifier.fit(X_dummies, y_train)
print(f"Training Data Score: {classifier.score(X_dummies, y_train)}")
print(f"Testing Data Score: {classifier.score(test, y_test)}")

C:\Users\marqu\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Training Data Score: 0.7132183908045977
Testing Data Score: 0.5829434283283709

C:\Users\marqu\anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [47]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_dummies, y_train)
print(f'Training Score: {clf.score(X_dummies, y_train)}')
print(f'Testing Score: {clf.score(test, y_test)}')

C:\Users\marqu\AppData\Local\Temp/ipykernel_14084/3603456861.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_dummies, y_train)

Training Score: 1.0
Testing Score: 0.6450446618460229

In [48]:
# Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X_dummies)
X_train_scaled = scaler.transform(X_dummies)
X_train_scaled
X_test_scaled = scaler.transform(test)
X_test_scaled

array([[ 2.20755943, -1.12001617,  1.0371484 , ..., -0.17149859,
         0.02026518, -0.02026518],
       [-1.11348584,  0.21833096, -1.01983876, ..., -0.17149859,
         0.02026518, -0.02026518],
       [-1.34791257,  0.54295132, -1.2928478 , ..., -0.17149859,
         0.02026518, -0.02026518],
       ...,
       [-0.72277464,  1.7009538 , -0.41340093, ..., -0.17149859,
         0.02026518, -0.02026518],
       [-0.91813024,  0.85997823, -1.02947877, ..., -0.17149859,
         0.02026518, -0.02026518],
       [ 1.23078141,  1.22636262,  2.08478621, ..., -0.17149859,
         0.02026518, -0.02026518]])

In [49]:
#after scaling the data, I'm not sure which one will perform better because I'm still trying to figure out what scaling the data actually does. I'm thinking the logistic
#regression might do better this time around because all of the data will be equally important while the random forest classifies relies more on certain features being weighed
#more, making classifications easier.

In [50]:
# Train the Logistic Regression model on the scaled data and print the model score
classifier = LogisticRegression(max_iter=500)
classifier
classifier.fit(X_train_scaled, y_train)
print(f"Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

C:\Users\marqu\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Training Data Score: 0.7079638752052545
Testing Data Score: 0.7677584006805614

In [51]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

C:\Users\marqu\AppData\Local\Temp/ipykernel_14084/4080388192.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)

Training Score: 1.0
Testing Score: 0.6454700127605274

In [52]:
# Which model performed better? How does that compare to your prediction? Write down your results and thoughts. 
# Once the data was scaled, the logistic regression actually performed a lot better than I thought it would. I was still under the impression that because there were 
# multiple features, the random forest classifier would perform better. I need to do more research into what scaling the data does.

#These last few cells I wasnt sure if we needed to do because the testing scores off the scaled data were already printed above but I thought it would be cool
#to see how the predictions would change.

In [53]:
from sklearn.feature_selection import SelectFromModel
sel = SelectFromModel(clf)
sel.fit(X_train_scaled, y_train)

C:\Users\marqu\anaconda3\envs\PythonData\lib\site-packages\sklearn\feature_selection\_from_model.py:267: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.estimator_.fit(X, y, **fit_params)

SelectFromModel(estimator=RandomForestClassifier(n_estimators=500,
                                                 random_state=1))

In [54]:
X_selected_train = sel.transform(X_train_scaled)
X_selected_test = sel.transform(X_test_scaled)

In [55]:
clf = LogisticRegression(max_iter=500).fit(X_selected_train, y_train)
print(f'Training Score: {clf.score(X_selected_train, y_train)}')
print(f'Testing Score: {clf.score(X_selected_test, y_test)}')

C:\Users\marqu\anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Training Score: 0.7062397372742201
Testing Score: 0.7805189281156955

In [56]:
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_selected_train, y_train)
print(f'Training Score: {clf.score(X_selected_train, y_train)}')
print(f'Testing Score: {clf.score(X_selected_test, y_test)}')

C:\Users\marqu\AppData\Local\Temp/ipykernel_14084/2792281034.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_selected_train, y_train)

Training Score: 1.0
Testing Score: 0.6144193960017014

In [57]:
# Fit and score the LogisticRegression and RandomForestClassifier models on the scaled data. How do the model scores compare to each other, and to the previous results on unscaled data? 
# How does this compare to your prediction? Write down your results and thoughts.

#I was actually really surprised by the results! Originally I thought that the random forest classifier would work better because of all of the features but once
#the data was scaled, the score went up and it increased even more when only the selected feature were fit to the model. I
# would imagine this would make sense because the data was structured better. 
#Original Testing Data Score: 0.5829434283283709 
#Scaled Testing Data Score: 0.7677584006805614 
#Selected Feature Testing Score: 0.7805189281156955


# The RandomForestClassifier is where things get a little fuzzy for me. From what I understand, random forests tend to overfit the data and because
# the data was already undersampled, it was already overfit from my understanding. I thought it was pretty interesting that the score pretty much stayed level the entire process while the logistic regression improved each time. Overall, I think
# the logistic regression performed better because there were only two outcomes: high risk or low risk. A random forest might be better on a dataset with multiple outcomes like
# the iris dataset. I also read that random forests don't require normalized data so scaling wouldn't make much of a difference.

# Original Testing Score: 0.6433432581880051 
# Scaled Testing Data Score: Testing Score: 0.6454700127605274
# Selected Feature Testing Score: 0.6139940450871969

# Overall my predictions weren't that accurate because I originally predicted the random forests would do better when in reality, the logistic regression did. I learned alot about
# how preprocessing and scaling data can affect the results of the classifiers and that there's still a lot for me to learn about machine learning. This was a pretty interesting assignment.

# This article helped a lot: https://towardsdatascience.com/all-about-feature-scaling-bcc0ad75cb35